{% import 'macros.html' as macro%} 
{% extends 'base.html'%}
<!DOCTYPE html>
 <html>

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title> Welcome to the news site</title>
        {% endif %}
<head>
</head>
<body>
    <!--content block-->
    {% block content %}
    <!---entertainment-->
    <h3> Spicy Entertainment!!!</h3>
    <ul>
        {{macro.displayNewsList(entertainment)}}
    </ul>
    <!---sports-->
    <h3>Sporty Sports</h3>
    <ul>
        {{macro.displayNewsList(sport)}}
    </ul>
    <!---tech-->
    <h3>Techie Tech</h3>
    <ul>
        {{macro.displayNewsList(tech)}}
    </ul>
    <!--business--->
    <h3>Business World</h3>
    <ul>
        {{macro.displayNewsList(business)}}
    </ul>
    <!--health--->
    <h3>Health</h3>
    <ul>
        {{macro.displayNewsList(health)}}
    </ul>
    <!---Science-->
    <h3>Science Fiction</h3>
    <ul>
        {{macro.displayNewsList(science)}}
    </ul>
    {% endblock%}
</body>
</html>